{{ define "main" }}

<div class="row">

  <div class="col-lg-12">

    <div class="jumbotron py-3">
        <h1 class="display-4">
          {{ .Title }}
        </h1>
        <p class="lead">Excel in Class and at Work</p>
        <hr class="my-4">
        <p>
          We offer a variety of supplemental workshops that expand on what is being taught in the classroom. Students gain valuable knowledge and skills they can apply to both the classroom and their career.
        </p>
      </div>

  </div>
</div>

<div class="row">
  {{ range .Pages.ByDate }}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="/img/{{ .Params.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ .Params.subtitle }}</h6>
        <p class="card-text">
          {{ .Content }}
        </p>
        <a href="{{ .URL }}" class="btn btn-primary">View Details</a>
      </div>
    </div>

  </div>
  {{ end }}
</div>

{{ end }}