{{ define "main" }}

  
  <div class="jumbotron">
    <h1 class="display-4">Expanded Learning Services</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <br>

  <div> 
    <h1>Do You Know How to Speak to a Crowd?</h1>
    <p>This workshop introduces students to public speaking and teaches students basics in public speaking techniques. The workshop consists of five 2 1/2 hour sessions after school from 3:00-5:30 for 5 weeks. The first session will be on Wednesday, October 10th,  and the final session will be on November 14th. There will be no session on October 31st. The total cost of the workshop will be $20 and it will take place in the C3 Computer Lab. Payment will be accepted at the first session. At the end of the workshop, students will have gained skills that will help them to present with confidence in public and classroom settings. This workshop is being offered by RCMakes and is instructed by Sam Kristofferson and Sophie Taylor who are both seniors at Rancho Campana.</p>
    
    <br>

    <h3>Join the workshop on Remind using @rcspeaks or text @rcspeaks to 81010</h3>

    <br>

    <p>Session 1: Wednesday, October 10th 3:00-5:30</p>

    <br>

    <p>Session 2: Wednesday, October 17th 3:00-5:30</p>

    <br>

    <p>Session 3: Wednesday, October 24th 3:00-5:30</p>

    <br>

    <p class="font-weight-bold">*No class on October 31st*</p>

    <br>

    <p>Session 4: Wednesday, November 7th 3:00-5:30</p>

    <br>

    <p>Session 5: Wednesday, November 14th 3:00-5:30</p>

  </div>

{{ end }}