language: node_js
# use latest version of node
node_js:
  - node
  
install:
# change this version as it goes up

# get and install Hugo
- wget https://github.com/gohugoio/hugo/releases/download/v0.53/hugo_0.53_Linux-64bit.deb
- sudo dpkg -i hugo*.deb

# clone the parent repository, note this is different from Parsia-Clone
- git clone https://github.com/rcmakes/rcmakes.git
- cd rcmakes

script:
  # build the website with Hugo, output will be in public directory
  - hugo

deploy:
  provider: s3

  # these environment variables are stored on Travis website
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY

  bucket: rcmakes.com
  region: us-west-1

  local_dir: public
  on:
    branch: master
  # Prevent Travis from deleting built site (so it can be uploaded)
  skip_cleanup: true
  # cache_control: "max-age=21600"
