{{ define "main" }}
<section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-3">
                Our Intern Alumni
            </h1>
        </div>
    </div>

    
    {{ range .Site.Data.staff.semesters }}
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    {{ .semesterTitle }}
                </h2>
            </div>
        </div>
        <div class="row">
            {{ range .students }}
                    <div class="col-lg-3">
                        {{ . }}
                    </div>
                {{ end }}

        </div>
        <hr>
    {{ end }}
                

    

    
</section>
{{ end }}