{{ define "main" }}
<section>
    <div class="row">
        <div class="col-lg-12">
            <center>
                <h1 class="display-3">
                    RCMakes Staff
                </h1>
            </center>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-lg-12">
            <br>
            <center>
                <h4 class="display-4">
                    Spring 2018
                </h4>
            </center>
        </div>
    </div>
    <div class="row">
        <p>
            {{ range .Site.Data.staff.spring2018 }}
            <div class="col-lg-2 col-md-2 pb-3">
                <center>
                    {{ .Name }}
                </center>
            </div>
            {{ end }}
        </p>
    </div>

    <div class="row pb-3">
        <div class="col-lg-12">
            <br>
            <center>
                <h4 class="display-4">
                    Winter 2017
                </h4>
            </center>
        </div>
    </div>
    <div class="row">
        <p>
            {{ range .Site.Data.staff.winter2017 }}
            <div class="col-lg-2 col-md-2 pb-3">
                <center>
                    {{ .Name }}
                </center>
            </div>
            {{ end }}
        </p>
    </div>

    <div class="row pb-3">
        <div class="col-lg-12">
            <br>
            <center>
                <h4 class="display-4">
                    Fall 2017
                </h4>
            </center>
        </div>
    </div>
    <div class="row">
        <p>
            {{ range .Site.Data.staff.fall2017 }}
            <div class="col-lg-2 col-md-2 pb-3">
                <center>
                    {{ .Name }}
                </center>
            </div>
            {{ end }}
        </p>
    </div>

    <div class="row pb-3">
        <div class="col-lg-12">
            <br>
            <center>
                <h4 class="display-4">
                    Summer 2017
                </h4>
            </center>
        </div>
    </div>
    <div class="row">
        <p>
            {{ range .Site.Data.staff.summer2017 }}
            <div class="col-lg-2 col-md-2 pb-3">
                <center>
                    {{ .Name }}
                </center>
            </div>
            {{ end }}
        </p>
    </div>

    <div class="row pb-3">
        <div class="col-lg-12">
            <br>
            <center>
                <h4 class="display-4">
                    Spring 2017
                </h4>
            </center>
        </div>
    </div>
    <div class="row">
        <p>
            {{ range .Site.Data.staff.spring2017 }}
            <div class="col-lg-2 col-md-2 pb-3">
                <center>
                    {{ .Name }}
                </center>
            </div>
            {{ end }}
        </p>
    </div>
</section>
{{ end }}