{{ define "main" }}

<!-- Start of jumbotron/ carousel area -->
<div class="row">
  <!-- Start of jumbotron area -->
  <!-- Fixed text and image carousel; Weren't equal vertically -->
  <div class="col-lg-6">
    <div class="jumbotron py-3" style="height: 405px;">
      <h1 class="display-4">
        Make the Most of Yourself
      </h1>
      <p class="lead">
        Your Success Is Our Success With An Internship At RCMakes
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfWGbIHuGq26Dtx3AMH4X1C1bCRbKgfEdbx3RYK0bXdHlmvHw/viewform"
          role="button">
          Apply for Internship
        </a>
      </p>
    </div>
  </div>
  <!-- End of jumbotron area  -->

  <!-- Start of carousel area -->
  <div class="col-lg-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/img/interns-in-truck-996x747.jpeg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>What do we do?</h5>
            <p>Interns at RCMakes work with each other to help get tasks done.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/video-production-editing-1200x900.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Video Production</h5>
            <p>If the video production process is an interest for you this could be a perfect learning enviorement for you.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/drill-press-1012-759.jpeg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Shop Work</h5>
            <p>If working hands on with woodshop tools is your style, RCMakes may be a great fit for you.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/newcoding-demo-759-569.jpeg" alt="Fourth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Web Development</h5>
            <p>If you see yourself as a coder, RCMakes has great instructers and introduces you to real world web dev. work.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/tablesaw-in-use-866x650.jpeg" alt="Fifth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>So Much More</h5>
            <p>If you want to practice being a manager, teacher, or salesman RCMakes can be a fantastic introduction to it all.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/drilling-cornhole-759x569.jpeg" alt="Sixth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>What are the benifits?</h5>
            <p>RCMakes will help advance your engineering, business, programming and other skills with helpful instructers and
              its variety equipment.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/fire_relief.PNG" alt="Seventh slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>How can I help?</h5>
            <p>You'll have the opportunity to engage in a variety of assigned tasks with other interns while helping others
              (and yourself) out.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/rcmakes-craft-day-1012x759.jpeg" alt="Eighth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>I'm ready to sign up!</h5>
            <p>What are you waiting for? Come and be a part of the team!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- End of carousel area -->

</div>
<!-- End of jumbotron/ carousel area -->

<!-- Start of markdown list area -->
<div>
  <h2 class="display-4 pt-3">
    Employment Benefits
  </h2>
</div>
<hr>
<div class="row">

  <div class="col-lg-4 pb-2">
    <h5>
      Fulfills NAFTRAC Requirement
    </h5>
    <!-- Changed 'Satisfies the 60 volunteer hours requirement, earning you a pin at graduation' to 'Complete 60 internship hours to satisfy the NAf requirements and to earn a badge at graduation' -->
    <p>
      Complete 60 internship hours to satisfy the NAF requirements and to earn a badge at graduation.
    </p>
  </div>

  <div class="col-lg-4 pb-2">
    <h5>
      Field Trips
    </h5>
    <!-- Removed from line 97: as well as Disneyland and Six Flags (of course) -->
    <p>
      As part of creating a educational and fun-filled atmosphere for employees, we've visited other makerspaces and hackerspaces.
      <a href="https://www.youtube.com/watch?v=AejioCwt1Eg">We have also been on a multi-day field trip to the Bay Area during Spring Break 2018</a>.
    </p>
  </div>

  <div class="col-lg-4 pb-2">
    <h5>
      Snacks
    </h5>
    <p>
      We believe in providing unlimited snacks and drinks to keep our interns going.
    </p>
  </div>

  <div class="col-lg-4 pb-2">
    <h5>
      Networking
    </h5>
    <p>
      Attend events where you can meet professional engineers and entrepreneurs.
    </p>
  </div>

  <div class="col-lg-4 pb-2">
    <h5>
      Creativity
    </h5>
    <p>
      Innovate, ideate, and take initiative in creating an original product or service we can provide for customers.
    </p>
  </div>

  <div class="col-lg-4 pb-2">
    <h5>
      Startups
    </h5>
    <p>
      We incubate startups. Be directly involved in the business adminsitation decisions and learn the realities of starting a
      business.
    </p>
  </div>

</div>
<!-- End of markdown list area -->

{{ end }}