{{ define "main" }}

  <section class="row mt-2">
    <div class="col-lg-12">
      <h1>{{ .Title }}</h1>
    </div>
  </section>

  <section class="row mt-2">

    <div class="col-lg-4">
      <img src="{{ .Params.productImage }}" alt="" class="img-fluid rounded">
    </div>

    <div class="col-lg-4">
      <p>{{ .Params.oneLineDescription }}</p>
      <p>{{ .Content }}</p>
      {{ if isset .Params "carousel" }}
        {{ partial "cornhole-carousel" . }}
      {{ end }}
    </div>

    <div class="col-lg-4">
      <h6>${{ .Params.price }}</h6>
      <a href="{{ .Params.freedomMerchantsLink }}" class="btn btn-primary">Buy Now</a>
    </div>

    <div class="col-lg-12 py-3 d-flex justify-content-start">
      <img src="{{ .Params.additionalImage }}" alt="">
    </div>

  </section>
  
{{ end }}