{{ define "main" }}

<section>

  <div class="row">

    <div class="col-lg-12">
      <div class="jumbotron">
        <h1 class="display-4">Community Makerspace</h1>
        <p class="lead">Free to students and the public, RCMakes' Community Makerspace has the resources you need to design, prototype, and make any idea into reality.</p>
        <hr class="my-4">
        <p>Learn more about our fully-equipped woodworking, metalworking, and 3D-printing shop</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg mr-3" href="/equipment" role="button">View Makerspace Equipment</a>
          <a class="btn btn-primary btn-lg" href="https://rcmakes.clubexpress.com/content.aspx?page_id=31&club_id=882419&action=login&sl=738762477" role="button">Become a Member</a>
        </p>
      </div>
    </div>

  </div>

</section>

{{ end }}