{{ define "main" }}

<section>

  <div class="row">

    <div class="col-lg-6">
      <div class="jumbotron">
        <h1 class="display-4">Community Makerspace</h1>
        <p class="lead">Our makerspace is equipped (with all these different kinds of equipment) and is open to the public (on these dates - link to clanedar)</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/equipment" role="button">View Equipment</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      Carousel of photos goes here
    </div>

  </div>

</section>

{{ end }}