{{ define "main" }}

<h1 class="h1-responsive mb-3 display-4 text-center">RCMakes</h1>

<p>RCMakes is a non-profit conglomerate operated by students at Rancho Campana High School. Services include an online
    store selling wares made by students, a community makerspace,
    a build-to-spec job shop for individual and business customers, expanded learning programs for incoming and current
    high school students, video production, software development
    and graphic design.</p>

{{partial "services" .}}

<p> RCMakes may be operated by students but it is managed by the serial Dave Gross who founded RCMakes and NewCo
    Foundation in 2017. He is an educator, entrepreneur, engineer and investor.
    He co-founded Motodyne, Fastclick, Persistence Partners, Connexity, RCMakes and NewCo Foundation with multiple
    successful exits including an IPO.
</p>

<p>
    Gross graduated from the University of California Santa Barbara with a BS in Mechanical Engineering and a BA in
    Environmental Studies. Since then, Mr. Gross has used his education
    and skills in the fields of internet, aerospace, and alternative transportation. In the early stages of his career,
    he was responsible for designing electric and hybrid electric vehicles
    as well as hardware for various aerospace applications including the International Space Station and the longest
    rigid structure ever deployed in space.
</p>

<p>
    He co-founded Fastclick, a successful Internet advertising company. Under his leadership, Fastclick, which started
    with $400K in seed capital, raised a $75M private-equity round and
    went from startup to public company in less than of 5 years.
</p>

<p>
    RCMakes provides thousands of internship hours annually to high school and college students. Interns gain hands on
    experience in engineering, manufacturing, entrepreneurship, and various
    other aspect of operating a business. Students incubate their product and service ideas thus learning the realities
    of a startup company, developing confidence and gaining pride of ownership
    by being directly involved in the decision-making process.
</p>

<div class="row">
    <div class="col-lg-4">
        <img style="max-width:300px;" class="img-responsive" src="/img/dave_gross.png" />
    </div>
    <div class="col-lg-8 my-auto">
        <h4 class="h1-responsive display-6"> - Dave Gross, General Manager and Founder</h1>
    </div>
</div>

{{ end }}