<!-- **** Capabilities Partial **** -->

<h2 class="display-4">
    <center>
        <a name="partners">Our Capabilties</a>
    </center>
</h2>

<div class="row mt-2">
    <div class="col-lg-2 col-sm-4 col-6">
        <div class="row">
            <a href="#" target="_blank">
                <img src="/img/" alt="" class="img-fluid pt-5 pb-5 pr-5 pl-5" data-toggle="tooltip" title="Tooltip">
            </a>
        </div>
        <div class="row">
            <h5>Name</h5>
        </div>
    </div>
</div>

<!-- from capabilities.html in /layouts/partials/ -->