<!-- **** Capabilities Partial **** -->

<h2 class="display-4">
    <center>
        <a name="partners">Our Capabilities</a>
    </center>
</h2>

<div class="row mt-2 d-flex flex-wrap">
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="/store/custom-cornhole/">
            <img src="/logos/cornhole-capability.svg" alt="Cornhole capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
        <h5 class="text-center">Custom Cornhole</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/lasering-capability.svg" alt="Lasec cutting and etching capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">Laser Cutting and Etching</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="/graphicdesign/">
            <img src="/logos/graphic-design-capability.svg" alt="Graphic design capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
        <h5 class="text-center">Graphic Design</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="/videoproduction/">
            <img src="/logos/video-capability.svg" alt="Video production capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
        <h5 class="text-center">Video Production</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="/softwaredevelopment/">
            <img src="/logos/software-dev-capability.svg" alt="Software development capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
        <h5 class="text-center">Software Development</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/custom-signage-capability.svg" alt="Custom signage capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">Custom Signage</h5>
    </div>
</div>
<div class="row mt-2 d-flex flex-wrap pb-4">
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/stage-props-capability.svg" alt="Stage props capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">Stage Props</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/construction-capability.svg" alt="Wood construction capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">Wood Construction</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/3D-printing-capability.svg" alt="3D printing capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">3D Printing</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/prototyping-capability.svg" alt="Prototyping capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">Rapid Prototyping</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <img src="/logos/modeling-capability.svg" alt="Solid modeling capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        <h5 class="text-center">Solid Modeling</h5>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="/store/3d-printing-package/">
            <img src="/logos/3D-package-capability.svg" alt="3D printing package capability icon" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
        <h5 class="text-center">3D Printing Package</h5>
    </div>
</div>

<!-- from capabilities.html in /layouts/partials/ -->