<!-- **** Clients Partial **** -->
<h2 class="display-4">
    <a name="partners">Our Clients</a>
</h2>
<div class="row mt-2">
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.procore.com/" target="_blank">
            <img src="/img/procore-logo.png" alt="" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="http://matter-labs.com/" target="_blank">
            <img src="/img/matter-labs-logo.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.ted.com/tedx/events/20260" target="_blank">
            <img src="/img/tedx-camarillo-logo.png" alt="" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.hub101.la/" target="_blank">
            <img src="/img/hub101-logo.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.ranchocampanahigh.us/" target="_blank">
            <img src="/img/rchs-icon.png" alt="" class="img-fluid pt-2 pb-2 pr-2 pl-2">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.oxnardunion.org/" target="_blank">
            <img src="/img/ouhsd-logo.jpg" alt="" class="img-fluid">
        </a>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-2 col-4 p-3">
        <a href="http://camarillolibrary.org/" target="_blank">
            <img src="/img/library-logo.png" alt="" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="http://www.pvrpd.org/default.asp" target="_blank">
            <img src="/img/parks-and-rec-logo.jpg" alt="" class="img-fluid pt-2 pb-2 pr-2 pl-2">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.csuci.edu/" target="_blank">
            <img src="/img/csu-logo.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://www.vcoe.org" target="_blank">
            <img src="/img/vcoe-icon.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <a href="https://rcptsa.wordpress.com/" target="_blank">
            <img src="/img/rcptsa-logo.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4">
        </a>
    </div>
    <div class="col-sm-2 col-4 p-3">
        <img src="/img/craft-cups-logo.png" alt="" class="img-fluid">
    </div>
</div>
<!-- from clients.html in /layouts/partials/ -->