<!-- **** Clients Partial **** -->


<h2 class="display-4">
    <center>
        <a name="partners">Our Clients</a>
    </center>
</h2>
<div class="row mt-2">
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="http://matter-labs.com/" target="_blank">
            <img src="/img/matter-labs-logo.png" alt="" class="img-fluid pt-5 pb-5 pr-5 pl-5" data-toggle="tooltip" title="Think tank, startup studio, and consulting firm.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.hub101.la/" target="_blank">
            <img src="/img/hub101-logo.png" alt="" class="img-fluid pt-5 pb-5 pr-5 pl-5" data-toggle="tooltip" title="Coworking, community, and mentorship for entrepreneurs to start, grow, and scale their startups.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.ranchocampanahigh.us/" target="_blank">
            <img src="/img/rchs-icon.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4" data-toggle="tooltip" title="Academy Based High School wih real world experience and training in each academy.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.oxnardunion.org/" target="_blank">
            <img src="/img/ouhsd-logo.jpg" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4" data-toggle="tooltip" title="Union high school district for communities on the Oxnard Plain.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="http://camarillolibrary.org/" target="_blank">
            <img src="/img/library-logo.png" alt="" class="img-fluid pt-3 pb-3 pr-3 pl-3" data-toggle="tooltip" title="The City of Camarillo Public Library serves the residents of Camarillo, California.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.eliteeng.com/" target="_blank">
            <img src="/img/elite-engineering-corp.png" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4" data-toggle="tooltip" title="Product Development and Custom Instrumentation.">
        </a>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="http://www.pvrpd.org/default.asp" target="_blank">
            <img src="/img/parks-and-rec-logo.jpg" alt="" class="img-fluid pt-4 pb-4 pr-4 pl-4" data-toggle="tooltip" title="State government office in Camarillo, California.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.csuci.edu/" target="_blank">
            <img src="/img/csuci-logo.jpg" alt="" class="img-fluid pt-5 pb-5 pr-5 pl-5" data-toggle="tooltip" title="California State University Channel Islands is a four-year public university located outside Camarillo, California.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.vcoe.org" target="_blank">
            <img src="/img/vcoe-icon.png" alt="" class="img-fluid pt-5 pb-5 pr-5 pl-5" data-toggle="tooltip" title="The Ventura County Office of Education provides quality services and support for life-long learning opportunities.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://rcptsa.wordpress.com/" target="_blank">
            <img src="/img/rcptsa-logo.png" alt="" class="img-fluid pt-5 pb-5 pr-5 pl-5" data-toggle="tooltip" title="The parent, teacher and student association for Rancho Campana High School.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
        <a href="https://www.caltrux.org/" target="_blank">
            <img src="/img/calif-trucker-logo.jpg" alt="" class="img-fluid pt-2 pb-2 pr-2 pl-2" data-toggle="tooltip" title="The California Trucking Association is the largest trucking trade association in the state of California.">
        </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-4">
        <a href="https://www.ryanmgoldstein.com/craft-cups/" target="bank">
            <img src="/img/craft-cups-logo.png" alt="" class="img-fluid pt-3 pb-3 pr-3 pl-3" data-toggle="tooltip" title="Disposable cup and flight tray wholesaler.">
        </a>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!-- from clients.html in /layouts/partials/ -->