<h2 class="display-4 text-center pb-3 pt-3">
        <a name="partners">Our Services</a>
      </h2>  
<div class="row my-4 pb-3">
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/jobshopforbusiness/">
                <img src="/logos/job-shop-logo.svg" alt="Job Shop Icon" class="img-fluid  pt-2 pr-1">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/makerspace/" >
                <img src="/logos/community-makerspace-logo.svg" alt="Makerspace Icon" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/softwaredevelopment/">
                <img src="/logos/software-development-logo.svg" alt="Software Development Icon" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/expandedlearning/">
                <img src="/logos/expanded-learning-logo.svg" alt="Expanded Learning Icon" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/graphicdesign/">
                <img src="/logos/graphic-design-logo.svg" alt="Graphic Design Icon" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/videoproduction/">
                <img src="/logos/video-production-logo.svg" alt="Video Production Icon" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
    </div>