<script>
    $( document ).ready(function() {
        var subject = $(location).attr('hash');
        console.log(subject);
        if (subject == "") {
            $("#subject").val('null');
        } else if (subject == "#videoproduction") {
            $("#subject").val('Video Production');
        } else if (subject == '#graphicdesign') {
            $("#subject").val('Graphic Design');
        } else if (subject == '#softwaredevelopment') {
            $("#subject").val('Software Develpment');
        } else if (subject == "#b2b") {
            $("#subject").val('Job Shop (Business) Request');
        } else if (subject == "#b2c") {
            $("#subject").val('Job Shop (Individual) Request');
        } else {

        }
    });
</script>