<hr class="mb-4">

<footer>
  <section class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
      <h4>
        Location
      </h4>

      <img src="/img/rcmakes-location.png" alt="" class="img-fluid rounded mt-2">

      <p class="mt-2">
        We're at Rancho Campana High School, adjacent to the Performing Arts Center. Look for the double doors.
      </p>
      <p class="mt-2">
        <a href="https://goo.gl/maps/5JbGWP4Gift" target="blank">
          4235 Mar Vista Drive
          <br> Camarillo, CA 93010
        </a>
      </p>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
      <h4>
        Community Makerspace Hours
      </h4>
      <p>
        Sat*: 8a - 12p, 1-5p
      </p>
      <p>
        <em>
          *Most Saturdays – check the
          <a href="/calendar">calendar</a> for dates
        </em>
      </p>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
      <h4>
        More
      </h4>
      <p>
        <a href="/jobs">
          Jobs
        </a>
        <br>
        <a href="/refund">
          Refund Policy
        </a>
        <br>
        <a href="/privacy">
          Privacy Notice
        </a>
        <br>
        <a href="/press">
          Press
        </a>
        <br>
        <a href="/contact">
          Contact Us
        </a>
        <br>
        <a href="/staff">
          Staff
        </a>
      </p>

      <div>
        {{ partial "social-media-icons" . }}
      </div>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
      <h4>
        Subscribe
      </h4>
      <p>
        RCMakes announcements, courses, and programs delivered straight to your inbox
      </p>
      <div class="mt-3">
        {{ partial "mailchimp-form" . }}
      </div>
    </div>


    <!-- End row -->
  </section>

  <section class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <center>
        <a href="https://www.vcoe.org/cec" target="blank">
          <img class="img-fluid pb-2" src="/img/career-education-center-80x80.png">
        </a>
      </center>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <center>
        <a href="https://www.ranchocampanahigh.us/" target="blank">
          <img class="img-fluid pt-3 pb-2" src="/img/rchs-logo-211x58.png">
        </a>
      </center>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <center>
        <a href="http://vcinnovates.org/" target="blank">
          <img class="img-fluid pt-2 pb-2" src="/img/vc-innovates-logo-100x50.png">
        </a>
      </center>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <center>
        <a href="http://www.oxnardunion.org/" target="blank">
          <img class="img-fluid pb-2" src="/img/ouhsd-logo-94x64.png">
        </a>
      </center>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <center>
        <a href="https://www.newco.foundation/" target="blank">
          <img class="img-fluid pb-2" src="/img/newco-logo-300x138.png">
        </a>
      </center>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <center>
        <a href="https://newcoding.org/" target="blank">
          <img class="img-fluid pt-3 pb-2" src="/img/newcoding-logo-209x58.png">
        </a>
      </center>
    </div>
  </section>

  <hr>

  <section class="row mb-4">

    <div class="col-lg-6">
      <small>
        RCMakes is a program of
        <a href="https://newco.foundation" target="_blank">NewCo Foundation</a>, a 501(c)3 Non-Profit
      </small>
    </div>

    <div class="col-lg-6">
      <small>
        Copyright &copy; 2016-
        <script type="text/javascript">document.write(new Date().getFullYear());</script>, RCMakes – All Rights Reserved
      </small>
    </div>

    <!-- End row -->
  </section>

</footer>