<hr>

<footer>
  <section class="row">

    <div class="col-lg-3 col-md-6">
      <h5>
        Location
      </h5>
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3298.133511839868!2d-119.01463498491596!3d34.245136680553806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e835d98436471f%3A0xd95436b144290730!2sRCMakes!5e0!3m2!1sen!2sus!4v1535923806663" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <p class="mt-2">
        4235 Mar Vista Drive
        <br>
        Camarillo, CA 93010
      </p>
    </div>
    
    <div class="col-lg-3 col-md-6">
      <h5>
        Hours
      </h5>
      
      <h6>
        Learning Services
      </h6>
      <p>
        Tue 3:00 - 5:30p
        <br>
        Wed 3:00 - 5:30p
        <br>
        Thu 3:00 - 5:30p
      </p>
      
      <h6>
        Community Makerspace 
      </h6>
      <p>
        Wed 3:00 - 5:30p
      </p>
    </div>
    
    <div class="col-lg-3 col-md-6">
      <h5>
        RCMakes
      </h5>
      <p>
        <a href="/refund">
          Refund Policy
        </a>
      </p>
      <p>
        <a href="/privacy">
          Privacy Notice
        </a>
      </p>
      <p>
        <a href="mailto:info@rcmakes.com">
          Contact Us
        </a>
      </p>
    </div>

    <div class="col-lg-3 col-md-6">
      <h5>
        Stay In Touch
      </h5>
      <p>
        social share icons here
      </p>
      
      <h6>
        Subscribe to our Newsletter
      </h6>
      <div class="mt-3">
        {{ partial "mailchimp-form" . }}
      </div>
    </div>
    

  <!-- End row -->
  </section>

  <hr>

  <section class="row mb-4">
    
    <div class="col-lg-6">
      <small>
        RCMakes is a program of <a href="https://newco.foundation" target="_blank">NewCo Foundation</a>, a 501(c)3 Non-Profit
      </small>
    </div>

    <div class="col-lg-6">
      <small>
        Copyright &copy; 2016-<script type="text/javascript">document.write(new Date().getFullYear());</script>, RCMakes – All Rights
        Reserved
      </small>  
    </div>

  <!-- End row -->
  </section>

</footer>