<div id="mc_embed_signup">
  <form action="//rcmakes.us15.list-manage.com/subscribe/post?u=4c5ebb088177f88d3f44e4ea5&amp;id=ddd05f9666" method="post"
    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank"
    novalidate>
    <div class="form-group">
      <input id="mce-EMAIL" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Email Address">
    </div>
    <button id="mc-embedded-subscribe" type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>