<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/img/rcmakes-wordmark1.png" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/makerspace">Makerspace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jobshopforbusiness">Jobshop For Businesses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jobshopforindividuals">Jobshop For Individuals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videoproduction">Video Production</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/expandedlearning">Expanded Learning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/store">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>