<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/img/rcmakes-wordmark1.png" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/store">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/makerspace">Makerspace</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/expandedlearning">Expanded Learning</a>
      </li>

      <!-- Services Dropdown -->
      
      <li class="nav-item dropdown">
        <a
        class="nav-link dropdown-toggle"
        id="servicesNavbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >
        Services
        </a>

        <div class="dropdown-menu" aria-labelledby="servicesNavbarDropdown">
          <a class="dropdown-item" href="/jobshopforbusiness">Job Shop for Businesses</a>
          <a class="dropdown-item" href="/jobshopforindividuals">Job Shop for Individuals</a>
          <a class="dropdown-item" href="/videoproduction">Video Production</a>
          <a class="dropdown-item" href="/graphicdesign">Graphic Design</a>
          <a class="dropdown-item" href="/softwaredevelopment">Software Development</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>

      <!-- About Dropdown -->
      
      <li class="nav-item dropdown">
        <a
        class="nav-link dropdown-toggle"
        id="aboutNavbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >
        About
        </a>

        <div class="dropdown-menu" aria-labelledby="aboutNavbarDropdown">
          <a class="dropdown-item" href="/about">About RCMakes</a>
          <a class="dropdown-item" href="/staff">Our Staff</a>
          <a class="dropdown-item" href="/jobs">Internships</a>
          <a class="dropdown-item" href="/press">Press</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>