<h5>
  Follow Us
</h5>
<div>
  <div style="display: flex" ;>
    <div style="font-size:40px; padding-right:5px;">
      <a href="https://twitter.com/rcmakes" target="blank">
        <i class="fab fa-twitter-square"></i>
      </a>
    </div>
    <div style="font-size:40px; padding-right:5px;">
      <a href="https://www.facebook.com/RCMakes805/" target="blank">
        <i class="fab fa-facebook-square"></i>
      </a>
    </div>
    <div style="font-size:40px; padding-right:5px;">
      <a href="https://www.instagram.com/rcmakes/" target="blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div style="font-size:40px; padding-right:5px;">
      <a href="https://www.youtube.com/channel/UC8FhniwG-OggTQB3WVC4j3Q" target="blank">
        <i class="fab fa-youtube-square"></i>
      </a>
    </div>
    <div style="font-size:40px;">
      <a href="https://www.rcmakes.com/images/snapcode.png" target="blank">
        <i class="fab fa-snapchat-square"></i>
      </a>
    </div>
  </div>
</div>