{{ define "main" }}

  <section class="row">
    
    <div class="col-lg-6">
      <div class="jumbotron py-3">
        <h1 class="display-4 ">
          Student-Powered Entrepreneurship
        </h1>
        <p class="lead">
          RCMakes is a school-based, student-operated Job Shop & Community Makerspace at Rancho Campana High School in Camarillo. 
        </p>
        <hr class="my-4">
        <p>
          We produce goods and services, provide internships and student employment, award earned academic scholarships, and incubate startup businesses. 
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
        </p>
      </div>
    </div>


    <div class="col-lg-6">
      {{ partial "carousel-homepage" . }}
    </div>

  </section>
<div>
  {{ partial "clients" . }}
</div>


{{ end }}