{{ define "main" }}

<!-- Alerts -->
<!-- <section class="alert alert-success">
  
  <div class="row">
    
    <div class="col-lg-12">
      <p class="mt-2">
        Happy Holidays! The Community Makerspace reopens January 5th, 2019
      </p>
    </div>

  </div>

</section> -->

<section class="row">

  <div class="col-lg-12">

    <div class="jumbotron py-3">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-responsive pb-3">
            Student-Powered Entrepreneurship
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 my-flex-item pb-3">
          <p class="lead">
            RCMakes is a school-based, student-operated enterprise at Rancho Campana High School in Camarillo. We run a
            community makerspace & contract job shop, do video production and software development, offer expanded
            learning workshops, host events and offer a number of products for sale.
          </p>
          <hr class="my-4">
          <p>
            We produce goods and services, provide internships and student employment, award earned academic
            scholarships, and incubate startup businesses.
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
          </p>
        </div>
        <div class="col-lg-6 my-2">
          {{ partial "carousel-homepage" . }}
        </div>
      </div>
    </div>
        <h2 class="display-4 text-center pb-3 pt-3">
          <a name="partners">Our Services</a>
        </h2>    
    <div class="row my-4 pb-3">
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/jobshopforbusiness/" target="_blank">
                <img src="/logos/job-shop-logo.svg" alt="" class="img-fluid  pt-2 pr-1">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/makerspace/" target="_blank">
                <img src="/logos/community-makerspace-logo.svg" alt="" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/softwaredevelopment/" target="_blank">
                <img src="/logos/software-development-logo.svg" alt="" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/expandedlearning/" target="_blank">
                <img src="/logos/expanded-learning-logo.svg" alt="" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/graphicdesign/" target="_blank">
                <img src="/logos/graphic-design-logo.svg" alt="" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
            <a href="/videoproduction/" target="_blank">
                <img src="/logos/video-production-logo.svg" alt="" class="img-fluid  pt-2 pb-2 pr-2 pl-2">
            </a>
        </div>
    </div>

  </div>

</section>

<div>
  {{ partial "clients" . }}
</div>


{{ end }}