.carousel-h5{
  color: rgba(255, 255, 255, 0.952);
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px rgb(17, 17, 17);
  font-weight: bold;
}

.carousel-p{
  color: rgba(255, 255, 255, 0.952);
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px rgb(17, 17, 17);
}

/* menu dropdowns expand on hover */
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 300px) {
  .display-responsive {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (min-width: 301px) and (max-width: 360px) {
  .display-responsive {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (min-width: 361px) and (max-width: 470px) {
  .display-responsive {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (min-width: 471px) {
  .display-responsive {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}


