{{ define "main" }}

<!-- Jumbotron -->

<div class="jumbotron pt-4 pb-4">

  <div class="row pb-3">
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-2">
      <img class="img-fluid" src="/logos/software-development-logo.svg">
    </div>
    <div class="col-lg-10 col-md-8 my-2 align-self-center">
      <h1 class="display-4">{{ .Title }}</h1>
    </div>
  </div>

  <p class="lead mt-3">
    Modern web design is more than just creating an attractive website – user experience, search engine optimization, and speed are all required for a top-performing product. We build with you and your customer in mind.</p>
  <hr class="my-4" />
  <p>
    Make a statement with modern web design services designed to grow your business.
  </p>
  <a class="btn btn-primary btn-lg" href="/contact/#softwaredevelopment" role="button">Request a Free Consultation</a>
</div>

<!-- Benefits -->

<!-- Trinity -->

<div class="row">
  <div class="card col-lg-6 col-md-12 col-sm-12 border-0">
    <img height="540px" src="/img/languages-gray.svg" alt="" />
  </div>
  <div class="card col-lg-6 col-md-12 col-sm-12 text-center d-flex align-self-center border-0">
    <h2 class="font-weight-bold">
      Total Design Freedom and Control to Create Anything
    </h2>
    <h5 class=mt-3>
      Built with the latest web technologies and leveraging <a href="https://aws.amazon.com/">AWS</a> for blazing fast page loads
    </h5>
  </div>
</div>

<div class="row">
  <div class="card col-lg-6 col-md-12 col-sm-12 border-0">
    <img height="540px" src="/img/responsive-gray.svg" alt="" />
  </div>
  <div class="card col-lg-6  col-md-12 col-sm-12 text-center d-flex align-self-center border-0">
      <h2 class="font-weight-bold">
        Responsive Web Design
      </h2>
      <h5 class=mt-3>
        For usability and improved search engine ranking
      </h5>
    </div>
</div>

<div class="row">
  <div class="card col-lg-6 col-sm-12 border-0">
    <img height="540px" src="/img/design-gray.svg" alt="" />
  </div>
  <div class="card col-lg-6 col-sm-12 text-center d-flex align-self-center border-0">
    <h2 class="font-weight-bold">
      Artistic, Elegant, and Modern Websites
    </h2>
    <h5 class=mt-3>
      Looks great on all devices for the mobile-first web in <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </h5>
  </div>
</div>

<!-- Trinity-/ -->

<!-- Sponsors -->
<div id="sponsors" class="text-center pb-4 indigo">
  <h2 class="display-4">Our Valued Clients</h1>
</div>

<div class="row mb-4">
  <div class="card col-lg-4 d-flex align-self-center border-0 mb-2 p-4">
    <a href="https://www.newco.foundation/" target="_blank">
      <img class="card-img" src="/img/newco_foundation_logo.png" alt="" />
    </a>
  </div>
  <div class="card col-lg-4 d-flex align-self-center border-0 mb-2 p-4">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
      <img class="card-img" src="/img/rcmakes-wordmark1.png" alt="" />
    </a>
  </div>
  <div class="card col-lg-4 d-flex align-self-center border-0 mb-2 p-4">
    <a href="https://www.newcoding.org/" target="_blank">
      <img class="card-img" src="/img/newcoding_logo.png" alt="" />
    </a>
  </div>
</div>

<!-- Sponsors-/ -->

<!-- Testimonials -->
<!-- <div class="text-center font-italic py-5">
  <div class="card bg-light text-muted py-5" style="border-color: #e6e6e6;">
    <h4>"RCMakes made me the best web designed site ever!" ~ Dave Gross</h4>
  </div>
</div> -->

<!-- Order -->

{{ end }}
