{{ define "main" }}

<!-- Jumbotron -->

<div class="jumbotron pt-4 pb-4">

  <div class="row pb-3">
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-2">
      <img class="img-fluid" src="/logos/software-development-logo.svg">
    </div>
    <div class="col-lg-10 col-md-8 my-2 align-self-center">
      <h1 class="display-4">{{ .Title }}</h1>
    </div>
  </div>

  <p class="lead mt-3">
    Want a nice, clean, elegant web design for your site? Save yourself the hassle and have RCMakes make it for you.
  </p>
  <hr class="my-4" />
  <p>
    Our team of highly trained software developers and graphic designers are ready when you are.
  </p>
  <a class="btn btn-primary btn-lg" href="#order" role="button">Request a Free Consultation</a>
</div>

<!-- Benefits -->

<!-- Trinity -->

<div class="row">
  <div class="card col-lg-6 col-md-12 col-sm-12 border-0">
    <img height="540px" src="/img/languages-gray.svg" alt="" />
  </div>
  <div class="card col-lg-6 col-md-12 col-sm-12 text-center d-flex align-self-center border-0">
    <h2 class="font-weight-bold">
      Total Design Freedom and Control to Create Anything
    </h2>
    <h5 class=mt-3>
      Built with the latest web technologies and leveraging <a href="https://aws.amazon.com/">AWS</a> for blazing fast page loads
    </h5>
  </div>
</div>

<div class="row">
  <div class="card col-lg-6 col-md-12 col-sm-12 border-0">
    <img height="540px" src="/img/responsive-gray.svg" alt="" />
  </div>
  <div class="card col-lg-6  col-md-12 col-sm-12 text-center d-flex align-self-center border-0">
      <h2 class="font-weight-bold">
        Responsive Web Design
      </h2>
      <h5 class=mt-3>
        For usability and improved search engine ranking
      </h5>
    </div>
</div>

<div class="row">
  <div class="card col-lg-6 col-sm-12 border-0">
    <img height="540px" src="/img/design-gray.svg" alt="" />
  </div>
  <div class="card col-lg-6 col-sm-12 text-center d-flex align-self-center border-0">
    <h2 class="font-weight-bold">
      Artistic, Elegant, and Modern Websites
    </h2>
    <h5 class=mt-3>
      Looks great on all devices for the mobile-first web in <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </h5>
  </div>
</div>

<!-- Trinity-/ -->

<!-- Sponsors -->
<div id="sponsors" class="text-center pb-4 indigo">
  <h2 class="display-4">Our Valued Clients</h1>
</div>

<div class="row mb-4">
  <div class="card col-lg-4 d-flex align-self-center border-0 mb-2 p-4">
    <a href="https://www.newco.foundation/" target="_blank">
      <img class="card-img" src="/img/newco_foundation_logo.png" alt="" />
    </a>
  </div>
  <div class="card col-lg-4 d-flex align-self-center border-0 mb-2 p-4">
    <a href="https://www.rcmakes.com/" target="_blank">
      <img class="card-img" src="/img/rcmakes-wordmark1.png" alt="" />
    </a>
  </div>
  <div class="card col-lg-4 d-flex align-self-center border-0 mb-2 p-4">
    <a href="https://www.newcoding.org/" target="_blank">
      <img class="card-img" src="/img/newcoding_logo.png" alt="" />
    </a>
  </div>
</div>

<!-- Sponsors-/ -->

<!-- Testimonials -->
<!-- <div class="text-center font-italic py-5">
  <div class="card bg-light text-muted py-5" style="border-color: #e6e6e6;">
    <h4>"RCMakes made me the best web designed site ever!" ~ Dave Gross</h4>
  </div>
</div> -->

<!-- Order -->

<section id="order" class="section card alert-dark p-5" style="border-color: #;">
  <h2 class="h1-responsive mb-3 display-4">Get a Free Quote Today</h2>
  <!--Section description-->
  <p class="w-responsive mb-4">
    Do you want an elegant, professional, responsive web design? Tell us your
    vision for your website and we will reach you as soon as possible.
  </p>
  <div class="row">
    <div class="col-md-9 mb-md-0 mb-5">
      <form
        id="contact-form"
        name="contact-form"
        action="https://formspree.io/info@rcmakes.com"
        method="POST"
      >
        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" name="name" class="form-control" />
              <label for="name" class="">Your Name</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="email" name="email" class="form-control" />
              <label for="email" class="">Your Email</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input
                type="text"
                id="subject"
                name="_subject"
                class="form-control"
              />
              <label for="subject" class="">Company Name</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <textarea
                type="text"
                id="message"
                name="message"
                rows="2"
                class="form-control md-textarea"
              ></textarea>
              <label for="message">Website Design Details</label>
            </div>
          </div>
        </div>
        <div class="text-center text-md-left">
          <!-- <input type="submit" value="Send"> -->
          <button type="submit" value="Send" class="btn btn-primary text-white">
            Send
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-3 text-center">
      <ul class="list-unstyled">
        <h4>Email Us</h4>
        <li>
          <a href="mailto:info@rcmakes.com">
            <i
              href="mailto:info@rcmakes.com"
              class="fa fa-envelope mt-4 fa-2x"
            ></i>
          </a>
          <a href="mailto:info@rcmakes.com"> <p>info@rcmakes.com</p> </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{{ end }}
