{{ define "main" }}
<!--Section: Contact v.2-->
<section class="section">
    <h2 class="h1-responsive mb-3 display-4">
        Contact Us
    </h2>
    <!--Section description-->
    <p class="w-responsive mb-4">
        Do you have any questions or comments? Just leave your information here and we will reach you as soon as possible.
    </p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your Name</label>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your Email</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your Message</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center text-md-left">
                <button class="btn btn-primary text-white">Send</button>
            </div>
        </div>
        
        <div class="col-md-3 text-center">
            <ul class="list-unstyled">
                <h4>
                    Email Us
                </h4>
                <li>
                    <a href="mailto:info@rcmakes.com">
                        <i href="mailto:info@rcmakes.com" class="fa fa-envelope mt-4 fa-2x"></i>
                    </a>
                    <a href="mailto:info@rcmakes.com">
                        <p>info@rcmakes.com</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{{ end }}