{{ define "main" }}
<div class="jumbotron">

  <h1 class="display-4">{{ .Title }}</h1>
  <p class="lead">Your Project, Perfected</p>
  <hr class="my-4">
  <p>From custom signage to full-service solid modeling and 3D printing, we’ve done it all. Bring your ideas and we’ll bring our experience and expertise to delivering your product.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Request a Quote</a>
  </p>

</div>

<section class="row">
  <div class="col-lg-12">
    <h2>
      Services
    </h2>
  </div>

  
</section>

<section class="row">
  <div class="col-lg-12">
    <h2>
      Past Projects
    </h2>
  </div>

  {{ range .Pages }}
  <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top" src="/img/{{ .Params.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ .Params.subtitle }}</h6>
        <p class="card-text">
          {{ .Content }}
        </p>
        <a href="{{ .URL }}" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}