{{ define "main" }}

<h1> {{ .Title }} </h1>

<h2 class="mt-4">Woodworking</h2>

<section class="row mt-4">

  {{ range .Site.Taxonomies.tags.woodworking }}
  
    {{ partial "equipment-cards" . }}

  {{ end }}

</section>

<h2 class="mt-4">Metalworking</h2>

<section class="row mt-4">
  
  {{ range .Site.Taxonomies.tags.metalworking }}
  
    {{ partial "equipment-cards" . }}

  {{ end }} 

</section>

<h2 class="mt-4">Other</h2>

<section class="row mt-4">
  
  {{ range .Site.Taxonomies.tags.other }}
  
    {{ partial "equipment-cards" . }}

  {{ end }} 

</section>

{{ end }}