{{ define "main" }}
  <h1> {{ .Title }} </h1>
  OUR SHOP IS AWESOME

  <section class="row mt-4">

    {{ range .Pages }}
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="card">
          <a href="{{ .URL }}">
            <img class="card-img-top" src="/equipment/{{ .Params.photo }}" height="300px" alt="Card image cap">
          </a>
          <div class="card-body">
            <a href="{{ .URL }}">
              <h5 class="card-title">{{ .Title }}</h5>
            </a>
            <a href="{{ .URL }}" class="btn btn-primary">View Instructions</a>
          </div>
        </div>
      </div>

    {{ end }}

  </section>
  
{{ end }}